.building {
      position: relative;
      height: 300px;
      width: 250px;
      margin: 0 auto;
}

.building-1 {
      position: absolute;
      bottom: 0;
      width: 150px;
      height: 250px;
      background:#136ffb;
}

.building-2 {
  position: absolute;
  bottom: 0;
  left: 150px;
  width: 90px;
  height: 250px;
  background:rgb(0, 0, 255);
}

.building-3 {
  position: absolute;
  bottom: 250px;
  left: 20px;
  width: 130px;
  height: 25px;
  background:#c1e8fa;
}

.building-4 {
  position: absolute;
  bottom: 250px;
  left: 150px;
  width: 70px;
  height: 25px;
  background:#136ffb;
}

.building-5 {
      position: absolute;
      bottom: 62.5px;
      width: 150px;
      height: 125px;
      background:rgb(0, 0, 255);
}
.building-6 {
      position: absolute;
      bottom: 70px;
      width: 150px;
      height: 52px;
      background:#136ffb;
}
.building-7 {
      position: absolute;
      bottom: 128px;
      width: 150px;
      height: 52px;
      background:#136ffb;
}