.header-container {
  display: flex;
  /* flex-direction: column;
  align-items: center; */
  padding-top: 20px;
  position: relative;
}

.header-menu {
  position: absolute;
  right: 20px;

}


.header-logo {
  color: black;
  text-decoration: none;
  font-size: 30px;
  margin: 0 auto;
  
}

