.header-container {
  display: flex;
  /* flex-direction: column;
  align-items: center; */
  padding-top: 20px;
  position: relative;
}

.header-menu {
  position: absolute;
  right: 20px;

}


.header-logo {
  color: black;
  text-decoration: none;
  font-size: 30px;
  margin: 0 auto;
  
}

.user-form-modal {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid black;
  z-index: 3;
  background: white;
  border-radius: 10px;
}


.user-modal {
  display: none;
}
.is-open {
  display: block;
}

.user-form-modal-screen {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0.5;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.user-form-nav {
  display: flex;
}

.user-form-nav a {
  box-sizing: content-box;
  padding: 20px;
  
}

.user-form-nav .selected {
  box-sizing: content-box;
  border-bottom: 2px solid blue;
  border: 2px solid lightblue;
  padding: 20px 20px 20px 20px;
}